<div class="home-wr">
        <h2> Edit Books</h2>
        <ul>
                <li>
                        <i class="material-icons prefix search-ico">search</i>
                    </li>
                    <li>
                        <input id="icon_prefix" type="text" [(ngModel)]="queryString" class="validate">
                    </li>
        </ul>

        <form [formGroup]="BookForm" (ngSubmit)="onBookFormSubmit()" class="col s4 edit-books-form">
        <div class="row">
           <div class="input-field col s12">
              <p *ngIf="BookForm.get('title').invalid && processValidation" class="error-input" [ngClass]="'error'"> Title is required. </p>
              <input type="text" class="validate" formControlName="title">
              <label for="title"> Title</label>
           </div>
           <div class="input-field col s12">
              <p *ngIf="BookForm.get('authors').invalid && processValidation" class="error-input" [ngClass]="'error'"> Author is required. </p>
              <input type="text" class="validate" formControlName="authors">
              <label for="author"> Author</label>
           </div>
        </div>
        <div class="row">
           <div class="input-field col s12">
              <p *ngIf="BookForm.get('price').invalid && processValidation " class="error-input" [ngClass]="'error'"> Price is required. </p>
              <input type="text" class="validate" formControlName="price">
              <label for="price"> Price </label>
           </div>
           <div class="input-field col s12">
              <input type="text" class="validate" formControlName="image">
              <label for="image"> ImageUrl</label>
           </div>
           <div class="input-field col s12">
                <input type="text" class="validate" formControlName="category">
                <label for="category"> Category </label>
            </div>
        </div>
        <div class="row">
           <input class="waves-effect waves-light btn" type="submit" value="Add new book">
        </div>
        </form>

        <div class="row" *ngIf="booksObs | async as onebook else loading">
           <div class="col s12 m6">
              <app-books  *ngFor="let book of onebook | filter: queryString" [book]="book" [category] = "category" >
              </app-books>
           </div>
        </div>

</div>