nav.lighten-2 {
    background-color: #258b80;
}

a:hover {
    text-decoration: none;
}

ul#dropdown1 {
    margin-top: 60px;
}

.brand-logo img {
    width: 40%;
    margin: 10px 20px 20px 20px;
}

input#search {
    position: absolute;
    margin-left: 40px;
    margin-top: 4px;
}

.search-wrapper.card {
    padding: 0px 10px;
}

input#search {
    position: absolute;
    margin-left: 40px;
}


.search-wrapper.card {
    margin-top: 150px;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 70px;
    left: 30px;
    position: absolute;
    width: 50%;
    color: #3b8c85;
}

input#icon_prefix {
    width: 550px;
}


a.bold.collapsible-header.waves-effect.waves-teal {
    font-weight: bold;
}

.search-results {
    width: 50%;
}


a .list-search {
    color: #198476;
    font-weight: 500;
}

.collapsible-body {
    margin-left: 20px;
}

.side-nav li.active {
    background-color: white;
}