.card-image img {
    width: 200px;
    margin: 0 auto;
}

.card {
    width: 300px;
    margin: 20px 30px;
    padding: 10px 20px 5px 20px;
}

.col.s12.m6 {
    display: flex;
}

.card-content {
    padding: 0px;
    padding-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: #898686;
}

.home-wr {
    margin-top: 10px;
    margin-left: 350px;
}

.price-card {
    position: absolute;
    margin-left: 150px;
    font-size: 17px;
}

span.card-title {
    font-size: 18px !important;
    /* font-weight: bold !important; */
}

p {
    font-weight: bold;
}

a.collapsible-header.waves-effect.waves-teal {
    font-weight: bold !important;
}

input#icon_prefix {
    width: 300px;
    /* z-index: 33333; */
    float: right;
    /* margin-left: -00px; */
    margin-right: 1000px;
}

.search-ico {
    margin-top: 10px;
    position: absolute;
}

.col.s12.m6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}