.card-image img {
    width: 200px;
    margin: 0 auto;
}

.card {
    width: 300px;
    margin: 20px 30px;
    padding: 10px 20px 5px 20px;
}

.col.s12.m6 {
    display: flex;
}

.card-content {
    padding: 0px;
    padding-bottom: 10px;
}

h2 {
    /* margin: 0 auto; */
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #898686;
}

.home-wr {
        margin-top: 10px;
    margin-left: 300px;
}


h2 {
    /* margin: 0 auto; */
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #898686;
}

.row {
    width: 60%;
}

a.waves-effect.waves-light.btn {
    margin-left: 10px;
}
h2 {
    /* font-size: 28px; */
    font-weight: 300 !important;
}